<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="Isolated blocker target">
        <activity android:name="com.ngawangchime.countingsheep.prototype.TestTargetActivity" android:exported="true" android:label="Isolated blocker target">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
    </application>
</manifest>
